{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>

    {{ form_start(formArticle) }} {# Affiche la balise ouvrante du formulaire avec bonne méthode et bonne action #}

    {{ form_widget(formArticle) }} {# Twig : les templates : créer des templates de forms pour décider leur affichage #}

    <button type="submit" class="btn btn-sucess">Ajouter l'article</button>

    {{ form_end(formArticle) }} {# on préfère garder le form_start et form_end pour pouvoir ajouter des choses dans cette vue #}

{% endblock %}