{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>

    {{ form_start(formArticle) }} {# Affiche la balise ouvrante du formulaire avec bonne méthode et bonne action #}

    {{ form_widget(formArticle) }} {# Twig : les templates : créer des templates de forms pour décider leur affichage #}

    {{ form_end(formArticle) }} {# #}

{% endblock %}