{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper magna lorem, nec pretium elit rutrum quis.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean nibh diam, porta eget rutrum nec, sodales eu nibh.
        Quisque scelerisque molestie molestie. Morbi tempor arcu et ultricies tempus. Fusce ut tempus magna.
        Proin massa tellus, consectetur a aliquet in, blandit non ipsum. Nulla tellus nisl, mollis eu lorem ut, ultrices tempor quam.
        Mauris euismod id est at rhoncus. Proin vulputate facilisis cursus.<p>
    <p>Pellentesque at felis vulputate, hendrerit risus nec, accumsan lorem.
        Pellentesque gravida quis lacus ac consectetur. Morbi luctus cursus nisl, a porttitor orci eleifend condimentum.
        Integer pellentesque vel diam sed ornare. Aliquam ipsum nisl, molestie ut erat at, mollis varius lectus.
        Suspendisse efficitur posuere ante, eu iaculis lorem. Praesent imperdiet purus metus, vel dictum sapien sodales sed.</p>

{% endblock %}
