{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 21/11/18 à 19h00 dans la catégorie Politique</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt=""</img>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis elit et euismod vehicula.</p>
                <p>Nullam in ante non diam pretium malesuada. Maecenas elementum nisi id magna condimentum lacinia.</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 21/11/18 à 19h00 dans la catégorie Politique</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt=""</img>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis elit et euismod vehicula.</p>
                <p>Nullam in ante non diam pretium malesuada. Maecenas elementum nisi id magna condimentum lacinia.</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 21/11/18 à 19h00 dans la catégorie Politique</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt=""</img>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis elit et euismod vehicula.</p>
                <p>Nullam in ante non diam pretium malesuada. Maecenas elementum nisi id magna condimentum lacinia.</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    </section>
{% endblock %}
